<!--
=========================================================
* Argon Dashboard - v1.2.0
=========================================================
* Product Page: https://www.creative-tim.com/product/argon-dashboard


* Copyright  Creative Tim (http://www.creative-tim.com)
* Coded by www.creative-tim.com



=========================================================
* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html>

<head>
<%- include('./partials/dashboardHeadContent.ejs') %>
</head>
<script>
  let test = <%-JSON.stringify(upcomingMeeting) %>;
  console.log(test);


  let searchField = document.getElementById('search') ;

document.getElementById("search").onkeyup = function() {myFunction()};

function myFunction() {
  var x = document.getElementById("search");
  x.value = x.value.toUpperCase();
  console.log(x.value)
}

</script>

<body>
  <!-- Sidenav -->
    <%- include('./partials/dashboardNav.ejs', { active: "Meetings" }) %>
  <!-- Main content -->
  <div class="main-content" id="panel">
    <!-- Topnav -->
    <%- include('./partials/notificationNav.ejs', { bg : "bg-primary"}) %>
    <!-- Header -->
    <!-- Header -->
    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0">Meetings</h6>
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                  <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                  <li class="breadcrumb-item"><a href="#">Meetings</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Meeting List</li>
                </ol>
              </nav>
            </div>
            <div class="col-lg-6 col-5 text-right">
              <a href="#" class="btn btn-sm btn-neutral">New</a>
              <a href="#" class="btn btn-sm btn-neutral">Filters</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col">
          <div class="card">
            <!-- Card header -->
            <div class="card-header border-0">
              <h3 class="mb-0">Light table</h3>
            </div>
            <!-- Light table -->
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" class="sort" data-sort="name">Meeting Title </th>
                    <th scope="col" class="sort" data-sort="budget">Brief Info</th>
                    <th>Status</th>
                    <th scope="col" class="sort" data-sort="status">Date</th>

                    <th scope="col">Users</th>
                                        <th scope="col" class="sort" data-sort="status">Time</th>
                    <th scope="col" class="sort" data-sort="completion">Scheduled at</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody class="list">
                  <% if(meetings.length > 0){ %> <%
                    meetings.forEach(meeting => { %>

                    <tr class="">
                    <th scope="row">
                      <div class="media align-items-center">
                        <a href="#" class="avatar rounded-circle mr-3">
                          <img alt="Image placeholder" src="/dashboard-assets/img/theme/bootstrap.jpg">
                        </a>
                        <div class="media-body">
                          <span class="name mb-0 text-sm"><%= meeting.title %></span>
                        </div>
                      </div>
                    </th>
                      <td><%= meeting.briefInfo %></td>
                      <td>
                      <span class="badge badge-dot mr-4">
                        <i class="bg-warning"></i>
                        <span class="status">pending</span>
                      </span>
                      </td>
                      <td><%= meeting.startAt.toUTCString() %></td>
                                          <td>
                      <div class="avatar-group">
                        <a href="#" class="avatar avatar-sm rounded-circle" data-toggle="tooltip" data-original-title="Ryan Tompson">
                          <img alt="Image placeholder" src="/dashboard-assets/img/theme/team-1.jpg">
                        </a>
                        <a href="#" class="avatar avatar-sm rounded-circle" data-toggle="tooltip" data-original-title="Romina Hadid">
                          <img alt="Image placeholder" src="/dashboard-assets/img/theme/team-2.jpg">
                        </a>
                        <a href="#" class="avatar avatar-sm rounded-circle" data-toggle="tooltip" data-original-title="Alexander Smith">
                          <img alt="Image placeholder" src="/dashboard-assets/img/theme/team-3.jpg">
                        </a>
                        <a href="#" class="avatar avatar-sm rounded-circle" data-toggle="tooltip" data-original-title="Jessica Doe">
                          <img alt="Image placeholder" src="/dashboard-assets/img/theme/team-4.jpg">
                        </a>
                      </div>
                    </td>
                      <td><%= meeting.time %></td>
                      <td><%= meeting.createdAt.toDateString() %></td>
                    </tr>
                    <% }) %> <% } else { %>
                    <td>
                      No scheduled upcoming meetings, click to schedule
                      <a href="#!" class="btn btn-sm btn-primary">Schedule</a>
                    </td>
                    <% } %>
                </tbody>
              </table>
            </div>
            <!-- Card footer -->
            <div class="card-footer py-4">
              <nav aria-label="...">
                <ul class="pagination justify-content-end mb-0">

                <% if(meetings.length > 0){ %>

                  <% if(currentPage != 1 ) { %>
                  <li class="page-item ">
                    <a class="page-link" href="/meetings/?page=1">1</a>
                  </li>
                  <% } %>
                  <li class="page-item active">
                    <a class="page-link text-white" href="/meetings/?page=<%= currentPage %>" ><span class="sr-only"></span><%= currentPage%></a>
                  </li>
                  <% if(hasNextPage ) { %>
                  <li class="page-item ">
                    <a class="page-link" href="/meetings/?page=<%= nextPage %>"> <%= nextPage %></a>
                  </li>
                  <% } %>

                  <% if(lastPage != currentPage && nextPage !== lastPage) { %>
                    <li class="page-item">
                      <a class="page-link" href="/meetings/?page=<%= lastPage %>">
                        <i class="fas fa-angle-right"></i>
                        <span class="sr-only"><%= lastPage %></span>
                      </a>
                    </li>
                  <% } %> 

                <% } %>


                   
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>

      <!-- Dark table -->

      <!-- Footer -->
      <%- include('./partials/dashFooter.ejs') %>
    </div>
  </div>
  <!-- Argon Scripts -->
  <!-- Core -->
  <script src="/dashboard-assets/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/dashboard-assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/dashboard-assets/vendor/js-cookie/js.cookie.js"></script>
  <script src="/dashboard-assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
  <script src="/dashboard-assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
  <!-- Argon JS -->
  <script src="/dashboard-assets/js/argon.js?v=1.2.0"></script>
</body>

</html>